.frame {
  position: fixed;
  top:  0;
  left: 0;
  width: 100%;
  height: 35px;
  background: #2e324c;
  z-index: 2;
}
.gradowo {
  position:  absolute;
  top: 0;
  left:  0;
  width: calc(100vw - 175px);
  height: 100%;
  -webkit-app-region: drag;
}
.logo {
  position: absolute;
  left: 48%;
  top: 150%;
  transform: translate(-50%,-50%);
  border-radius: 100%;
  transition: all .5s;
  z-index: 1;
}
.logo:before,
.logo:after {
  display: table;
  content: "";
}
.logo:after {
  clear: both;
}
.logo .finger {
  float: left;
  margin: 0 2px 0 0;
  width: 18px;
  height: 60px;
}
.logo .finger-1 {
  padding: 12px 0 5px 0;
}
.logo .finger-1 span {
  top: 0;
}
.logo .finger-1 i {
  bottom: 3px;
  height: 14px;
  border-radius: 10px 10px 7px 7px;
  background-clip: padding-box;
}
.logo .finger-2 {
  padding: 6px 0 2px 0;
}
.logo .finger-2 span {
  top: 0;
}
.logo .finger-2 i {
  bottom: 3px;
  height: 14px;
  border-radius: 10px 10px 7px 7px;
  background-clip: padding-box;
}
/* 1xxxxxxxxxxxxxxxxxxxxxx */
.logo .finger-3 {
  animation: finger-3-animation .4s ease infinite;
}
.logo .finger-3 span {
  animation: finger-3-animation-span .4s ease infinite;
}
.logo .finger-3 i {
  animation: finger-3-animation-i .4s ease infinite;
}
.logo .finger-4 {
  padding: 8px 0 3px 0;
  animation: finger-4-animation .4s ease infinite;
  animation-delay: 0.2s;
}
.logo .finger-4 span {
  top: 0;
  animation: finger-4-animation-span .4s ease infinite;
  animation-delay: 0.2s;
}
.logo .finger-4 i {
  bottom: 3px;
  height: 14px;
  border-radius: 10px 10px 7px 7px;
  background-clip: padding-box;
  animation: finger-4-animation-i .4s ease infinite;
  animation-delay: 0.2s;
}
.logo .finger-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 8px 8px;
  background-clip: padding-box;
  background: #4b5282;
}
.logo .finger-item span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 5px 5px 0 5px;
}
.logo .finger-item span:before,
.logo .finger-item span:after {
  content: '';
  position: relative;
  display: block;
  margin: 0 0 2px 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
}
.logo .finger-item i {
  position: absolute;
  left: 3px;
  bottom: 3px;
  width: 14px;
  height: 14px;
  border-radius: 10px 10px 7px 7px;
  background-clip: padding-box;
  background: #ffffff;
}
.logo .last-finger {
  position: relative;
  float: left;
  width: 22px;
  height: 66px;
  overflow: hidden;
}
.logo .last-finger-item {
  position: absolute;
  right: 0;
  top: 32px;
  width: 110%;
  height: 13px;
  border-radius: 0 5px 14px 0;
  background-clip: padding-box;
  background: #4b5282;
}
.logo .last-finger-item i {
  position: absolute;
  left: 0;
  top: -8px;
  width: 22px;
  height: 8px;
  background: #4b5282;
  overflow: hidden;
}
.logo .last-finger-item i:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 34px;
  height: 20px;
  border-radius: 0 0 15px 15px;
  background-clip: padding-box;
  background: #2e324c;
}
@keyframes finger-3-animation {
  0% {padding: 0 0 0 0;}
  50% {padding: 0 0 12px 0;}
  100% {padding: 0 0 0 0;}
}
@keyframes finger-3-animation-span {
  0% {top: 0;}
  50% {top: -7px;}
  100% {top: 0;}
}
@keyframes finger-3-animation-i {
  0% {
    bottom: 3px;
    height: 14px;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  50% {
    bottom: 8px;
    height: 12px;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  100% {
    bottom: 3px;
    height: 14px;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
}
@keyframes finger-4-animation {
  0% {padding: 8px 0 3px 0;}
  50% {padding: 4px 0 20px 0;}
  100% {padding: 8px 0 3px 0;}
}
@keyframes finger-4-animation-span {
  0% {top: 0;}
  50% {top: -7px;}
  100% {top: 0;}
}
@keyframes finger-4-animation-i {
  0% {
    bottom: 3px;
    height: 14px;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  50% {
    bottom: 8px;
    height: 12px;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  100% {
    bottom: 3px;
    height: 14px;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
}
@keyframes finger-5-animation {
  0% {
    top: 32px;
    right: 0;
    border-radius: 0 5px 14px 0;
    background-clip: padding-box;
    transform: rotate(0deg);
  }
  50% {
    top: 20px;
    right: 2px;
    border-radius: 0 8px 20px 0;
    background-clip: padding-box;
    transform: rotate(-12deg);
  }
  100% {
    top: 32px;
    right: 0;
    border-radius: 0 5px 14px 0;
    background-clip: padding-box;
    transform: rotate(0deg);
  }
}
.circler {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 150px;
  background: #2e324c;
  border-radius: 100% !important;
  border-bottom: 2px solid #ffffff;
  -webkit-app-region: drag;
}
.logo_name {
  position: absolute;
  top: 20%;
  left: 140%;
  color: white;
  font-size: 20px;
  text-transform:  uppercase;
  transform: translate(-50%,-50%);
}
.version {
  position: absolute;
  color: #a7a7a7;
  top: 57%;
  left: 126%;
  font-size: 16px;
  text-transform: uppercase;
  transform: translate(-50%,-50%);
}
.hider {
  margin-top: -14px;
  cursor:  pointer;
  color: #26a69a;
  padding: 0px 15px;
  font-size: 40px;
  transform: scale(1, 1);
  transition: all .3s;
}
.hider:hover {
  color: #ffffff;
  background: rgba(38, 166, 154, .5);
}
.hider:hover i {
  animation: bounce .5s ease forwards;
}
@keyframes bounce {
  0% {transform: scale(1, 1);}
  50% {transform: scale(.7, 1.8);}
  100% {transform: scale(1, 1);}
}
.close {
  cursor:  pointer;
  color: #f44336;
  padding: 2px 15px;
  font-size: 30px;
  text-shadow: 0 0 0px;
  transform: rotate(0deg);
  transition: all .3s;
}
.close:hover {
  color: #ffffff;
  background: rgba(244, 67, 54, .5);
}
.close:hover i {
  animation: shadRot 1s ease forwards;
}
@keyframes shadRot {
  0% {text-shadow: 0 0 0px;transform: rotate(0deg);}
  50% {text-shadow: 0 0 10px;transform: rotate(180deg);}
  100% {text-shadow: 0 0 0px;transform: rotate(180deg);}
}
.resize {
  cursor: pointer;
  color: #ffab40;
  padding: 0px 15px;
  font-size: 25px;
  transform: scale(1, 1);
  transition: all .3s;
}
.resize i {
  margin-top: 4px;
}
.resize:hover {
  color: #ffffff;
  background: rgba(255, 171, 64, .5);
}
.resize:hover i {
  animation: bounce1 .5s ease forwards;
}
@keyframes bounce1 {
  0% {transform: scale(1, 1);}
  50% {transform: scale(1, 0.5);}
  100% {transform: scale(1, 1);}
}
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
/* Scroll bar */
::-webkit-scrollbar-track {background-color: #2e324c;}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #4b5282;}
@media only screen and (max-width: 640px) {
.logo {left: 45%;}
}
@media only screen and (max-width: 900px) {
.logo {left: 46%;}
}
@media only screen and (max-width: 1000px) {
.logo {left: 47%;}
}

.idle-infinite {
  animation-direction: alternate;
  animation: rotateinf 3s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes rotateinf {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}
.buttonss {
  position:  absolute;
  display: flex;
  top: 0;
  right: 0;
  height: 100%;
}
.opChange {
  color:  white !important;
  font-size: 20px;
  opacity: 0;
  animation: opChange .5s ease forwards;
}
@keyframes opChange {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.running-pulse {
  opacity: 0;
  animation: opChange .5s ease forwards, rpulse 1s ease infinite;
  padding: 0px 20px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: white;
  border-radius: 20px;
}
@keyframes rpulse {
  0% {padding: 0px 0px;border-left: 2px solid;border-right: 2px solid;border-color: transparent;}
  50% {border-color: white;}
  100% {padding: 0px 80px;border-left: 2px solid;border-right: 2px solid;border-color: transparent;}
}